.product__card {
	cursor: pointer;
	padding: 15px;
	width: 95%;
	padding-bottom: 20px;
	margin-bottom: 10px;
	background: #ffffff;
	border-radius: 10px;
}

.product__info h3 {
	font-size: 1.2rem;
	color: var(--primary-color);
	font-weight: 600;
	margin-top: 15px;
}
.product__info span {
	font-size: 1rem;
	font-weight: 500;
}
.product__card-bottom .price {
	color: var(--primary-color);
	font-size: 1.2rem;
	font-weight: 500;
}

.cart {
	font-size: 0.8rem;
	padding: 5px;
	font-weight: 500;
	background: var(--primary-color);
	color: #fff;
	border-radius: 30px;
	width: 100px;
	text-align: center;
}

.out-of-stock {
	font-size: 0.8rem;
	padding: 5px;
	font-weight: 500;
	background-color: "red";
	border-radius: 30px;
	width: 100px;
	text-align: center;
}
.product__img img {
	height: 320px;
}
@media screen and (max-width: 600px) {
	.product__img .img {
		height: 650px;
		width: 100px;
	}
}
